$chardonnay: #fcfbf2;

$lightestblue: #efefff;
$lightblue: #d9ebff;
$mediumblue: #54799b;
$darkblue: #54799b;
$turqoise: #556a7e;

$lightgray: #fcf2f2;
$darkgray: #a9a9a9;

$yellowgreen: #cae3ff;

$lightred: #fcf2f2;
$burgundy: #9f3a3a;
$lightwarningred: #b33a3a;
$warningred: #cf2020;

$rosewhiter: #fff9f9;
$rosewhite: #f7eaea;
