@import "../../css/color";

$break-large: 1024px;
@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (max-width: $break-large) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

.input-div {
	position: relative;
	padding: 10px;
	display: inline-block;
	&.block {
		display: block;
	}
	.input-label {
		display: block;
  		width: 200px;
		color: darkgray;
		margin: 0px 5px 5px 0px;
		@include respond-to(small-screens) { 
        	width: 40vw;
        	font-size: 20pt;
      	}
	}
	input[type=text], input[type=password],  {
		width: 153px;
		background: transparent;
		background-color: transparent;
		color: black;
		line-height: 15px;
		border: 1px solid;
		border-color: white;
		border-bottom: 1px solid $darkblue;
		border-radius: 2px;
		padding: 0px;
		height: 18px;
		outline:none;  
	    @include respond-to(small-screens) { 
        	width: 35vw;
        	height: 3vh;
        	font-size: 28pt;
	    }
		&:focus {
			border-bottom-color:#172a3c;
		}
	}
}